.container {
    width: 1580px;
    height: auto;
    margin: auto;
    display: flex;
    padding-top: 5%;
}

.app-camp {
    width: 70%;
    margin: 1%;
    height: auto;
}

.app-camp h1 {
    color: rgb(142, 37, 116);
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.view-camp h2 {
    color: rgb(142, 37, 116);
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1%;

}

.view-camp {
    background-color: rgb(239, 239, 239);
    width: 500px;
    margin: 1%;
    height: 800px;
    border-radius: 10px;

}



.product {
    display: inline-block;
    margin: 4%;
    width: 230px;
    font-size: 15px;
    height: 300px;
    padding: 2%;
    background-color: rgb(228, 210, 224);
    border-radius: 7px;
    transition: all 180ms ease;

}


#products {
    border-radius: 10px;
    height: 500px;
    display: block;
    overflow-y: scroll;
    height: 700px;
    white-space: normal;
    transition: all 180ms ease;

}





.product:hover {
    transform: scale(1.1);
    transition: all 180ms ease;
}



hr {
    width: 90%;
    margin: auto;
}

.total-price {
    text-align: center;
    color: rgb(142, 37, 116);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media(width<2160px) {
    .container {
        margin: auto;
        width: 90%;
    }
}

@media(width<1080px) {
    .app-camp {
        width: 98%;
    }

    .container {
        display: block;
        margin: auto;
        width: 1000p;
    }

    .product {
        width: 80%;
        height: 300px;
    }

    .product img {
        height: 200px;
        width: 200px;

    }


    .view-camp {
        width: 98%;
    }

}

@media(width<720px) {
    .products h2 {
        font-size: 18px;
    }
}